<div class="container mt-4">
  <div class="row">
    <h1>{{profile?.knownName}}'s Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{profile?.photoUrl || '../../../assets/user.png'}}" alt="Sample" />
        <div class="card-body">
          <div>
              <div class="alert alert-success" role="alert">
                  <h4 class="alert-heading">{{ profile?.knownName }}</h4>
                  <p>
                    <img src="../assets/ad.png" alt=""/>
                    <small> | status (death, retired, active) </small>
                  </p>
                  <hr>
                  <p class="mb-0">
                      <span class="badge badge-primary">Primary</span>&nbsp;
                      <span class="badge badge-secondary">Secondary</span>&nbsp;
                      <span class="badge badge-success">Success</span>&nbsp;
                      <span class="badge badge-danger">Danger</span>&nbsp;
                      <span class="badge badge-warning">Warning</span>&nbsp;
                      <span class="badge badge-info">Info</span>&nbsp;
                      <span class="badge badge-light">Light</span>&nbsp;
                      <span class="badge badge-dark">Dark</span>
                  </p>
                </div>
          </div>

          <div>
            <strong>A.K.A:</strong>
            <p>
              {{profile?.knownNames}}
            </p>
          </div>

          <div>
            <strong>Date Of Birth:</strong>
            <p>{{ profile?.birthDate | date: "mediumDate" }} ( {{ profile?.age}} years - {{profile?.sign}} )</p>
          </div>
          <div>
            <strong>Birthplace:</strong>
            <p>{{ profile?.birthPlace }}, {{ profile?.birthCountry }}</p>
          </div>
          <div *ngIf="profile?.residence || profile?.residenceCountry">
            <strong>Residence:</strong>
            <p>{{ profile?.residence }}<span *ngIf="profile?.residenceCountry">, </span>{{ profile?.residenceCountry }}</p>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-4"><strong>Starts</strong></div>
              <div class="col-sm-4"><strong>End</strong></div>
              <div class="col-sm-4"><strong>Years in B.</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-4">{{ profile?.careerStartYear }}</div>
              <div class="col-sm-4">{{ profile?.careerEndYear }}</div>
              <div class="col-sm-4">{{ profile?.yearsInBusiness }} <span *ngIf="profile?.yearsInBusiness">years</span></div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6"><strong>Height:</strong></div>
              <div class="col-sm-6"><strong>Weigth:</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-6"><small>{{ profile?.height }}</small></div>
              <div class="col-sm-6"><small>{{ profile?.weight }}</small></div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6"><strong>Body Type:</strong></div>
              <div class="col-sm-6"><strong>Measurements:</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-6">{{ profile?.bodyType }}</div>
              <div class="col-sm-6">{{ profile?.measurements }}</div>
            </div>
          </div>
          <div>
            <strong>Breast:</strong>
            <p>{{ profile?.breast }}</p>
          </div>
          <div>
            <strong>Tattos:</strong>
            <p>{{ profile?.tattos }}</p>
          </div>
          <div>
            <strong>Piercings:</strong>
            <p>{{ profile?.piercings }}</p>
          </div>

          <div class="card-footer">
            <div class="btn-group d-flex">
              <button class="btn btn-primary w-100">Like</button>
              <button class="btn btn-success w-100">Comments</button>
              <button *ngIf="profile?.scortingProfileId && profile.scortingProfileId > 0" class="btn btn-secondary w-100">Scorting</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="What we know">
            <h4>Social Networks</h4>
            <p>
              <span *ngFor="let item of profile?.socialNetworks">
                <a [attr.href]="item.url" class="btn mr-1" target="_blank" [ngStyle]="{'background-color': item.color}">
                  <i style="color:#fff" [class]="item.faIcon"></i>
                </a>
              </span>
            </p>
            <h4>Biography</h4>
            <div [innerHTML]="profile?.whatWeKnow"></div>
            <h4>Other Related Info</h4>
            <div [innerHTML]="profile?.otherRelatedInfo"></div>
          </tab>
          <tab heading="More data">
            <h4>Interests</h4>
            <div class="row">
              <div *ngFor="let item of profile?.dataSpecifications" class="col-sm-3">
                <strong>{{ item.displayLabel }}:</strong>
                <p>{{ item.displayValue }}</p>
              </div>
            </div>
            <h4>Links related</h4>
            <p *ngFor="let itm of profile?.relatedLinks">
              <a target="_blank" [attr.href]="itm.linkUrl">{{ itm.displayLabel }}</a>
            </p>
          </tab>
          <tab heading="Interviews">
            <h4>Relevant Interview Questions</h4>
            <div *ngFor="let itm of profile?.relevantQuestions">
              <h5>{{ itm.question }}</h5>
              <div><small><a [attr.href]="itm.sourceUrl">{{ itm.sourceSite }}</a></small></div>
              <p>{{ itm.answer }}</p>
            </div>
          </tab>
          <tab heading="Photos">
            <h4>Galleries</h4>

            <div *ngFor="let itm of profile?.photoGalleries" class="mb-3">
              <h5>{{ itm.displayLabel }} ( {{ itm.qtyPhotos }} photos )
                <a [attr.href]="itm.photoPackUrl" class="btn btn-info btn-sm">
                  <i class="fa fa-download"></i>
                </a>
              </h5>
              <ngx-gallery [options]="galleryOptions" [images]="galleries[itm.id]"></ngx-gallery>
            </div>

          </tab>
          <tab heading="Videos">
            <div class="mb-3" *ngFor="let itm of profile?.videoGalleries">
              <h3>{{ itm.displayValue }}</h3>
              <p>
                <img class="img-responsive mr-1 mb-1" src="{{ itm.previewUrl }}" alt="" />
              </p>
              <p [innerHTML]="itm.description"></p>

              <div *ngFor="let vg of itm.downloadLinks">
                <strong class="mt-2 mb-2">{{vg.source}}:</strong>
                <div *ngFor="let u of vg.urls">
                  <small>
                    <a [attr.href]="u.videoDownloadUrl" target="_blank">{{ u.videoDownloadUrl }}</a>
                  </small>
                </div>
              </div>

            </div>
          </tab>
        </tabset>
      </div>


    </div> <!-- END SECOND COLUMN -->

  </div>
</div>