<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="http://xpesdcompany-001-site3.ctempurl.com/temp/profiles/lillycollins.jpg"
          alt="Sample" />
        <div class="card-body">
          <div>
            <strong>A.K.A:</strong>
            <p>Alias 1, Alias 2, Alias 3, Alias 4, Alias 5, Alias 6, Alias 7, Alias 8</p>
          </div>

          <div>
            <strong>Date Of Birth:</strong>
            <p>1975/09/18 (30 years - Cancer)</p>
          </div>
          <div>
            <strong>Birthplace:</strong>
            <p>City, Country</p>
          </div>
          <div>
            <strong>Residence:</strong>
            <p>City, Country</p>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-4"><strong>Starts</strong></div>
              <div class="col-sm-4"><strong>End</strong></div>
              <div class="col-sm-4"><strong>Years in B.</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-4">2008</div>
              <div class="col-sm-4">Present</div>
              <div class="col-sm-4">10 years</div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6"><strong>Height:</strong></div>
              <div class="col-sm-6"><strong>Weigth:</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-6">171cm (5'7)</div>
              <div class="col-sm-6">125 lbl. (57 kg)</div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6"><strong>Body Type:</strong></div>
              <div class="col-sm-6"><strong>Measurements:</strong></div>
            </div>
            <div class="row">
              <div class="col-sm-6">Skinny</div>
              <div class="col-sm-6">34C-24-34</div>
            </div>
          </div>
          <div>
            <strong>Breast:</strong>
            <p>Natural, Medium(B)</p>
          </div>
          <div>
            <strong>Tattos:</strong>
            <p>None</p>
          </div>
          <div>
            <strong>Piercings:</strong>
            <p>Navel</p>
          </div>

          <div class="card-footer">
            <div class="btn-group d-flex">
              <button class="btn btn-primary w-100">Like</button>
              <button class="btn btn-success w-100">Reviews</button>
              <button class="btn btn-secondary w-100">Scorting</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="What we know">
            <h4>Social Networks</h4>
            <p>
              <button class="btn btn-primary mr-1"><i class="fa fa-facebook-f"></i></button>
              <button class="btn btn-primary mr-1"><i class="fa fa-twitter"></i></button>
              <button class="btn btn-primary mr-1"><i class="fa fa-instagram"></i></button>
              <button class="btn btn-primary mr-1"><i class="fa fa-tumblr"></i></button>
              <button class="btn btn-primary mr-1"><i class="fa fa-google"></i></button>
              <button class="btn btn-primary mr-1"><i class="fa fa-whatsapp"></i></button>
              <button class="btn btn-primary mr-1"><i class="fa fa-youtube"></i></button>
              <button class="btn btn-primary mr-1"><i class="fa fa-linkedin"></i></button>
            </p>
            <h4>Biography</h4>
            <p>Introduction</p>
            <h4>Other Related Info</h4>
            <p>Some Text</p>
          </tab>
          <tab heading="More data">
            <h4>Interests</h4>
            <div class="row">
              <div class="col-sm-3">
                <strong>Key:</strong>
                <p>Value</p>
              </div>
              <div class="col-sm-3">
                <strong>Key:</strong>
                <p>Value</p>
              </div>
              <div class="col-sm-3">
                <strong>Key:</strong>
                <p>Value</p>
              </div>
              <div class="col-sm-3">
                <strong>Key:</strong>
                <p>Value</p>
              </div>
              <div class="col-sm-3">
                <strong>Key:</strong>
                <p>Value</p>
              </div>
              <div class="col-sm-3">
                <strong>Key:</strong>
                <p>Value</p>
              </div>
              <div class="col-sm-3">
                <strong>Key:</strong>
                <p>Value</p>
              </div>
            </div>
            <h4>Links related</h4>
            <p><a href="#">Link 1</a></p>
            <p><a href="#">Link 2</a></p>
            <p><a href="#">Link 3</a></p>
            <p><a href="#">Link 4</a></p>
          </tab>
          <tab heading="Interviews">
            <h4>Relevant Questions</h4>
            <h5>Question 1</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <h5>Question 2</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <h5>Question 3</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <h5>Question 4</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

            <h4>Interviews:</h4>
            <p><a href="#">Link 1</a></p>
            <p><a href="#">Link 2</a></p>
            <p><a href="#">Link 3</a></p>
            <p><a href="#">Link 4</a></p>

          </tab>
          <tab heading="Photos">
              <h4>Galleries</h4>
              <h5>Gallery 1 (10 photos) <button class="btn btn-info"><i class="fa fa-link"></i> Show Download links</button></h5>
              <div class="container">
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
            </div>

            <h5>Gallery 2 (30 photos) <button class="btn btn-info"><i class="fa fa-link"></i> Show Download links</button></h5>
            <div class="container">
                <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
          </div>

              <h5>Gallery 3 (34 photos) <button class="btn btn-info"><i class="fa fa-link"></i> Show Download links</button></h5>
              <div class="container">
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/200/200/?random" alt=""/>
            </div>

              
              <h4>Sites Related:</h4>
              <p><a href="#">Link 1</a></p>
              <p><a href="#">Link 2</a></p>
              <p><a href="#">Link 3</a></p>
              <p><a href="#">Link 4</a></p>
  
          </tab>
          <tab heading="Videos">
            <div>
              <h3>Title</h3>
              <p>
                  <img class="img-responsive mr-1 mb-1" src="https://picsum.photos/600/600/?random" alt=""/>
              </p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

              <h4>Links:</h4>
              <div><a href="#">Link 1</a></div>
              <div><a href="#">Link 2</a></div>
              <div><a href="#">Link 3</a></div>
              <div><a href="#">Link 4</a></div>

            </div>
          </tab>
        </tabset>
      </div>


    </div> <!-- END SECOND COLUMN -->

  </div>
</div>